header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  background: linear-gradient(90deg, #001B2F 0%, #005695 100%);

  .logo {
    width: 23vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    h1 {
      color: white;
      margin-left: 1vw;
    }
  }

  .menu {
    width: 35vw;

    ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      a {
        color: white;
      }
    }
  }

  .input {
    border: solid 2px white;
    width: 17vw;
    margin-right: 20px;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;

    input {
      outline: none;
      background-color: transparent;
      border: none;
      color: white;
      font-size: 15px;
      padding-left: 6px;
      width: 12vw;

      &::placeholder {
        color: white;
      }
    }
  }
}

@media(max-width: 1170px) {

  .logo {
    width: 25vw;

    h1 {
      font-size: 2vw;
    }

    img {
      width: 5vw;
    }
  }
  .input {
    input {
      &::placeholder {
        font-size: 1.1vw;
      }
    }
  }

  .menu {
    ul {
      font-size: 1.6vw;
    }
  }

}

@media(max-width: 780px) {
  header {
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
    width: 100vw;

    .input {
      display: none;
    }

    .logo {
      width: 80%;

      h1 {
        font-size: 25px;
      }

      img {
        width: 70px;
      }
    }

    .menu {
      width: 70vw;

      ul {
        justify-content: space-between;
        font-size: 21px;
      }
    }
  }
}